img{
    width:50px;
}

.header{
    display:flex;
    background:transparent;
    background: none;
    position: fixed;
    width:100vw;
    top:0;
    margin:15px;
    margin-top:15px;
    z-index: 100;
}
.header_logo{
    height:24px;
    width:100px;
    margin-top:7px;
}
.header_center{
    flex:1;
    display: flex;
    justify-content: center;
}
ul{
    display: flex;
}
.header_center li{
    margin: 10px;
    text-transform: uppercase;
    list-style: none;

}

.header_right{
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
}
.header_right p{
    margin:10px;
}
.ham{
    background-color: transparent;
   display:none;
    position: absolute;
    right:25px;
    top:7px;
    border:none;
}
.close{
    background-color: transparent;
    position: absolute;
    right:25px;
    top:7px;
    display:none;
    border:none;
}
@media(max-width:600px){
    nav{
        
        padding:0 15px;
        width:250px;
        margin-bottom: 25px;
       
    }
    ul{
        width:300px;
        margin:0;
        background-color: rgb(15, 15, 15);
        padding:0;
        padding-left:15px;
        display:flex;
        justify-content: space-around;
        flex-direction: column;
        color:white;
        height:600px;
        scroll-behavior: smooth;
    }
    li{
        
    }
    .ham{
        display:block;
    }
    .close{
        display:block;
    }
}